@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/******************переменные*******/
* body {
  color: #000000;
}

a {
  font-family: "Inter";
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #222222;
  display: inline-block;
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
  padding-left: calc(15px + 15 * (100vw - 380px) / 1060);
  padding-right: calc(15px + 15 * (100vw - 380px) / 1060);
}

.header_bur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header_bur .header_menu li {
  display: inline-block;
  margin: 0 20px;
}
.header_bur .header_menu li a {
  padding-bottom: 5px;
}
.header_bur .header_menu li a:hover {
  border-bottom: 2px solid #68513F;
  opacity: 0.5;
}
@media (max-width: 600px) {
  .header_bur .header_menu li {
    display: none;
  }
}
.header_bur .header_cart span {
  display: inline-block;
  padding: 5px;
  color: #FFFFFF;
  background: #E7DED8;
}
.header_bur .burger {
  display: none;
}
@media (max-width: 600px) {
  .header_bur .burger {
    display: block;
  }
  .header_bur .burger span {
    height: 2px;
    width: 5px;
  }
}

.header_content {
  position: relative;
  background: no-repeat url(../img/IMAGE.png);
  background-position: right;
  background-size: contain;
}
@media (max-width: 600px) {
  .header_content {
    background-size: cover;
  }
}

h1,
.header_content_btn {
  padding-top: calc(60px + 40 * (100vw - 380px) / 1060);
  color: #000000;
  font-weight: 300;
  font-size: calc(40px + 46 * (100vw - 380px) / 1060);
  line-height: calc(40px + 86 * (100vw - 380px) / 1060);
  margin: 0 0 50px;
  transition: all 1s ease;
}
h1 a,
.header_content_btn a {
  padding: 13px 21px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #68513F;
  background: #F1EBE7;
  border: 1px solid #DACEC6;
  display: inline-block;
  box-sizing: border-box;
  top: 400px;
}
@media (max-width: 600px) {
  h1 a,
.header_content_btn a {
    margin: 0 0 20px 20px;
  }
}

.indifical {
  font-family: "Style Script";
  font-style: normal;
  font-weight: 400;
  color: #68513F;
  font-size: calc(40px + 115 * (100vw - 380px) / 1060);
  line-height: 182px;
  transform: rotate(5.54deg);
  position: absolute;
  top: 50%;
  right: 45%;
  opacity: 0.7;
}
@media (max-width: 600px) {
  .indifical {
    display: none;
  }
}

.conteiner {
  position: relative;
}
.conteiner::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 20%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/hand.png);
  background-position: 5%, 5%;
  top: -24%;
  left: -5%;
}
.conteiner::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 20%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/IMAGEs.png);
  background-position: 5%, 5%;
  top: 17%;
  left: 3%;
}
.conteiner .conteiner_content {
  position: relative;
  padding-bottom: 300px;
  margin: 0 auto;
  padding-top: calc(50px + 130 * (100vw - 380px) / 1060);
}
.conteiner .conteiner_content::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 20%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/faces.png);
  background-position: 100%, 20%;
  top: -24%;
  right: 5%;
  z-index: -5;
}
.conteiner .conteiner_content::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 20%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/color.png);
  background-position: 100%, 20%;
  top: 9%;
  right: 0;
  z-index: -5;
}
.conteiner .conteiner_content span {
  font-family: "Style Script";
  font-style: normal;
  font-weight: 400;
  color: #68513F;
  position: absolute;
  transform: rotate(-5.08deg);
  position: absolute;
  left: 36%;
  text-align: center;
  font-size: calc(40px + 97 * (100vw - 380px) / 1060);
}
.conteiner .conteiner_content p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 650px;
  margin: 0 auto 60px;
  padding: 136px 0 0;
}
.conteiner .conteiner_content p::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 20%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/face_krem.png);
  background-position: 100%, 20%;
  top: 30%;
  right: 25%;
}
.conteiner .conteiner_content a {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #68513F;
  background: #F1EBE7;
  border: 1px solid #DACEC6;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 73px;
  display: inline-block;
  padding: 13px 21px;
}
.conteiner .conteiner_content .conteiner_btn {
  text-align: center;
  transition: all 1s ease;
}
.conteiner .conteiner_content .conteiner_btn:hover {
  background: rgba(104, 81, 63, 0.5);
  color: #E7DED8;
}

h2 {
  font-weight: 300;
  font-size: calc(30px + 35 * (100vw - 380px) / 1060);
  line-height: calc(40px + 58 * (100vw - 380px) / 1060);
  text-align: center;
  color: #000000;
}

.fons {
  padding: 500px 0 0;
  background: url(../img/content.png);
  width: 100%;
  background-position: center;
  margin: 0 0 90px;
}

.conteiner_product {
  text-align: center;
  margin-bottom: 123px;
}
.conteiner_product .prod {
  font-family: "Style Script";
  font-style: normal;
  font-weight: 400;
  color: #68513F;
  font-size: calc(40px + 97 * (100vw - 380px) / 1060);
}
.conteiner_product h2 {
  margin: 0 0 60px;
}
.conteiner_product .product_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 14px;
  justify-content: center;
}
.conteiner_product .item {
  background: #E7DED8;
  border-radius: 10px;
  padding: 10px;
  transition: all 1s ease;
}
.conteiner_product .item:hover {
  box-shadow: 5px 5px 20px;
}
.conteiner_product .item_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 15px 5px;
}
.conteiner_product h3 {
  font-size: 19px;
  text-align: left;
  line-height: 26px;
  padding: 0 0 53px 15px;
}
.conteiner_product .price_btn {
  font-size: 0;
}
.conteiner_product a {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #68513F;
  background: #F1EBE7;
  border: 1px solid #DACEC6;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 118px;
  box-sizing: border-box;
  transition: all 1s ease;
}
.conteiner_product a:hover {
  background: rgba(104, 81, 63, 0.5);
  color: #E7DED8;
}

.content_innovation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .content_innovation {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.content_innovation img {
  width: 100%;
  height: 100%;
}
.content_innovation .aboute_content {
  text-align: center;
  max-width: 440px;
  padding: 0 90px 0 0;
}
@media (max-width: 1100px) {
  .content_innovation .aboute_content {
    padding: 20px 0 0;
  }
}
.content_innovation .productIn {
  font-family: "Style Script";
  font-style: normal;
  font-weight: 400;
  color: #68513F;
  font-size: calc(40px + 97 * (100vw - 380px) / 1060);
}
.content_innovation h2 {
  margin: 0 0 40px;
}
.content_innovation p {
  font-size: 17px;
  line-height: 31px;
  margin: 0 0 51px;
}
.content_innovation .innovation_btn {
  text-align: center;
  font-size: 0;
}
.content_innovation .innovation_btn a {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #68513F;
  background: #F1EBE7;
  border: 1px solid #DACEC6;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 21px 13px;
  transition: all 1s ease;
}
.content_innovation .innovation_btn a:hover {
  background: rgba(104, 81, 63, 0.5);
  color: #E7DED8;
}

.content_generetion {
  padding: 200px 0 200px;
  max-width: 830px;
  margin: 0 auto;
}
.content_generetion p {
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  margin: 0 0 70px;
}
.content_generetion .content_sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_generetion .content_sponsors img {
  display: block;
  padding: 15px;
}
@media (max-width: 600px) {
  .content_generetion .content_sponsors {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content_pictures {
  font-size: 0;
  max-width: 1340px;
  display: flex;
  background-size: cover;
  padding: 0 0 50px;
}
@media (max-width: 1100px) {
  .content_pictures {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
.content_pictures .img {
  display: block;
}
.content_pictures .content_pictures_body {
  background: no-repeat url(../img/photo1.png);
  padding: 184px 187px 184px 0;
  width: calc(50% - 75px);
  position: relative;
  width: 362px;
  height: auto;
}
.content_pictures .content_pictures_body a {
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}
.content_pictures .content_pictures_face {
  background: no-repeat url(../img/photo2.png);
  padding: 184px 180px 184px 182px;
  width: calc(50% - 75px);
  box-sizing: border-box;
  position: relative;
  object-position: center;
}
.content_pictures .content_pictures_face a {
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}
.content_pictures .content_pictures_cleanser {
  background: no-repeat url(../img/photo3.png);
  padding: 184px 183px;
  width: calc(50% - 75px);
  position: relative;
}
.content_pictures .content_pictures_cleanser a {
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}
.content_pictures a {
  position: absolute;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 65px 40px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.content_blog_aboute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 127px;
}
@media (max-width: 1100px) {
  .content_blog_aboute {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.content_blog_aboute .blog_vitamin {
  margin: 0 20px 0 0;
}
.content_blog_aboute h2 {
  margin: 0 0 60px;
}
.content_blog_aboute .blog {
  display: flex;
}
@media (max-width: 600px) {
  .content_blog_aboute .blog {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.content_blog_aboute .blog img {
  margin: 0 30px 0 0;
}
@media (max-width: 600px) {
  .content_blog_aboute .blog img {
    margin: 0 0 20px;
  }
}
.content_blog_aboute .blog p {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .content_blog_aboute .blog p {
    font-size: 20px;
    margin: 0 0 60px;
  }
}
.content_blog_aboute .blog a {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #68513F;
  background: #F1EBE7;
  border: 1px solid #DACEC6;
  display: inline-block;
  box-sizing: border-box;
  padding: 13px 21px 12px;
  border-radius: 166px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  transition: all 1s ease;
}
.content_blog_aboute .blog a:hover {
  background: rgba(104, 81, 63, 0.5);
  color: #E7DED8;
}
.content_blog_aboute .blog_info {
  position: relative;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  background: #E7DED8;
  border-radius: 10px;
  padding: 50px 50px 70px;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1100px) {
  .footer_content {
    padding: 30px 20p;
    justify-content: space-between;
  }
}
.footer_content div {
  margin: 0 0 20px;
}
.footer_content .footer_logo img {
  margin: 0 0 21px;
}
.footer_content .footer_logo p {
  max-width: 160px;
  font-size: 14px;
  line-height: 20px;
}
.footer_content h4 {
  font-size: 27px;
  margin: 0 0 29px;
}
.footer_content .pages_menu {
  display: flex;
  gap: 50px;
}
.footer_content .pages_menu a {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  transition: all 1s ease;
}
.footer_content .pages_menu a:hover {
  border-bottom: 1px solid #68513F;
}
.footer_content .pages_contacts p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 9px;
}
.footer_content .pages_contacts a {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 39px;
  color: #68513F;
}
.footer_content .pages_us .us_date {
  padding: 0 0 70px;
}
.footer_content .pages_us p {
  margin: 0 0 9px;
}
.footer_content .pages_us .us_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_content .pages_us .us_social a:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.footer_content .pages_us .us_social .fb:before {
  background: no-repeat url(../img/faceB.png);
}
.footer_content .pages_us .us_social .inst::before {
  background: no-repeat url(../img/instg.png);
}
.footer_content .pages_us .us_social .pp::before {
  background: no-repeat url(../img/ppp.png);
}
.footer_content .pages_us .us_social .tw::before {
  background: no-repeat url(../img/twet.png);
}

/*# sourceMappingURL=style.css.map */
